<!DOCTYPE html>
<html lang="en">
<head>
    <title>Default Title!</title>
	<meta charset='utf-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% if styles != None %}
    <link href="{{url_for('static',filename=styles)}}" rel="stylesheet" />
    {% endif %}
    {% if extra_data != None %}
    <script id="data" type="application/json">{{ extra_data | safe }}</script>
    {% endif %}
    <script defer type="module" src="{{url_for('static',filename='resources/main.js')}}"></script>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body id="svelte" data-page="{{ page }}"/>

</html>