<!DOCTYPE html>
<html lang="en">
<head>
    <title>Default Title!</title>
	<meta charset='utf-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{url_for('static',filename='resources/bundle.css')}}" rel="stylesheet" />

    {% if extra_data != None %}
    <script id="data" type="application/json">{{ extra_data | safe }}</script>
    {% endif %}
    <script defer type="module" src="{{url_for('static',filename='resources/main.js')}}"></script>
</head>

<body id="svelte" data-page="{{ page }}"/>

</html>